.arrow-line {
    stroke: var(--line-color);
    stroke-width: 0.5;
}

.arrow-svg {
    position: absolute;
}

.arrow-diff {
    position: absolute;
    font-weight: bold;
    font-size: 1.2vw;
    color: white;
    padding: 0.3vw 0.6vw;
    border-radius: 5px;
}

.positive {
    background-color: var(--arrow-positive);
}

.negative {
    background-color: var(--arrow-negative);
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

